body {
  background-color: rgb(161, 157, 157);
}

.logo-video{
  width: 800px;
  height: 400px;
}
header {
  background-color: #023859;
  padding: 20px;
}

.tela_inicio{
  display: flex;
  
}

.img{

}

