/* styles.css */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2c3e50;
    color: #ecf0f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px 0;
}


#restart-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.memory-card {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.front-face {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.back-face {
    background: #2980b9;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .memory-card {
        padding-bottom: 75%;
    }
}

@media (max-width: 480px) {
    .memory-card {
        padding-bottom: 100%;
    }

    .back-face, .front-face {
        font-size: 1.5rem;
    }
}
